{%extends "base_dashboard.html"%}

{%block content%}
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-dark">Mapel</h6>
                    <a href="{{url_for('mapel_bp.create_mapel')}}">
                        <button class="btn-info">
                            tambah mapel
                        </button>
                    </a>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id mapel</th>
                            <th scope="col">mapel</th>
                            <th scope="colgroup">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in data%}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            <td><a href="{{url_for('mapel_bp.update_mapel', id_mapel=item[0])}}">
                                    <button class="btn-info">update</button>
                                </a></td>
                            <td>
                                <a href="{{url_for('mapel_bp.delete_mapel', id_mapel=item[0])}}">
                                    <button class="btn-danger">delete</button>
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}