{%extends "base_dashboard.html"%}

{%block content%}
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-dark">Siswa</h6>
                    <a href="{{url_for('siswa_bp.create_siswa')}}">
                        <button class="btn-info">
                            tambah siswa
                        </button>
                    </a>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">nis</th>
                            <th scope="col">nama</th>
                            <th scope="col">alamat</th>
                            <th scope="col">tmp lahir</th>
                            <th scope="col">tgl lahir</th>
                            <th scope="col">gender</th>
                            <th scope="col">agama</th>
                            <th scope="col">id_kelas</th>
                            <th scope="col">kd_ortu</th>
                            <th scope="col">tgl daftar</th>
                            <th scope="colgroup">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in data%}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[4]}}</td>
                            <td>{{item[5]}}</td>
                            <td>{{item[6]}}</td>
                            <td>{{item[7]}}</td>
                            <td>{{item[8]}}</td>
                            <td>{{item[9]}}</td>
                            <td><a href="{{url_for('siswa_bp.update_siswa', nis=item[0])}}">
                                    <button class="btn-info">update</button>
                                </a></td>
                            <td>
                                <a href="{{url_for('siswa_bp.delete_siswa', nis=item[0])}}">
                                    <button class="btn-danger">delete</button>
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}